/* CSS utilities */
:root{
    /* color variables */
    --offblack: hsl(0, 0%, 13%);
    --offwhite: hsl(37, 100%, 92%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* styling */
body{
    background-color: var(--offblack);
    color: var(--offwhite);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    min-height: 100%;
}

#navbar{
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 0;
    width: 20vw;
    min-height: 100vh;
    padding-left: 10px;
    padding-top: 10px;

    border-right: 1px solid white;
    margin-right: 2px;
}

#nav-head{
    padding: 10px;
    font-size: 1.5rem;
    overflow-wrap:break-word;
}

#navbar a{
    display: block;
    text-decoration: none;
    color: var(--offwhite);

    padding: 5%;
    border-top: 1px solid white;
}

#navbar a:hover, #navbar a:focus{
    background-color: lightgrey;
    color: var(--offblack);
    transition: 0.3s;
}

#main-doc{
    position: absolute;
    margin-left: 22vw;
    padding: 1rem;

}

header{
    font-size: 2rem;
    margin-bottom: 1rem;
}

hr{
    font-weight: 700;
    margin-block: 2rem;
}

p, li, tr{
    line-height: 1.8rem;
    font-size: 1.1rem;
}

ul, ol, code{
    margin-left: 1.5rem;
    list-style-position: inside;
    padding: 1rem;
}

table{
    border-collapse: collapse;
    margin-top: 1rem;
}
td{
    border: 1px solid white;
    padding: 1rem;
}

code{
    background-color: rgb(64, 60, 60);
    padding-inline: 3px;

}

.block-code{
    display: block;
    max-width: 80%;
    padding: 0.4rem;
    font-size: 1rem;
}







@media screen and (max-width:735px){
    body{
        display: grid;
        grid-template-columns: 1fr 2fr;

    }
    
    .nav-link, header{
        font-size: 1rem;
        padding: 0.5rem;
        transition: 0.3s;
    }
    
    #main-doc{
        margin-left: 20%;
    }
}

@media screen and (max-width: 375px){

    #navbar{
        min-width: 80px;
    }
    .nav-link, header{
        font-size: 0.7rem;
        padding: 0.2rem;
        transition: 0.3s;
    }

    .main-doc{
        margin-left: 80px;
    }
}